<div class="formulario">
    <form [formGroup]="formMapas" (ngSubmit)="onSubmit()">
      <label for="busqueda" class="mt-4"> Ubicación </label>
      <input type="text" class="form-control" #inputPlaces id="inputPlaces" formControlName="busqueda" required>
      <div *ngIf="formMapas.get('busqueda')?.hasError('required') && (formMapas.get('busqueda').dirty || formMapas.get('busqueda').touched)" class="text-danger">
        Este campo es obligatorio
      </div>
      <div class="mapa mt-4" #divMap></div>
    </form>
  </div>
