<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label for="email" class="text-dark">EMAIL</label>
      <input class="form-control " formControlName="email" type="text" id="email" required />
      <div *ngIf="email?.hasError('required')" class="text-primary">
          El email es obligatorio
      </div>
      <div *ngIf="email?.hasError('email')" class="text-primary">
          El email no es válido
      </div>
  </div>
  <div class="form-group">
      <label for="password" class="text-dark mt-3 text-start"> CONTRASEÑA </label>
      <input class="form-control" formControlName="password" type="password" id="password" required />
      <div *ngIf="password?.hasError('required')" class="text-primary ">
          La contraseña es obligatoria
      </div>
  </div>
  <div class="form-footer">
      <button  class="btn" type="submit">
          ENTRAR
      </button>
  </div>
</form>
