<div class="container">
  <h2 class="mt-3">{{ title | uppercase}}</h2>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="mt-4">

    <div class="form-group">
      <label for="name">Nombre del evento</label>
      <input type="text" class="form-control" id="name"
        formControlName="name">
        <div *ngIf="eventForm.get('name')?.hasError('required') && (eventForm.get('name').dirty || eventForm.get('name').touched)" class="text-danger">
          Este campo es obligatorio
        </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email"
        formControlName="email">
        <div *ngIf="eventForm.get('email')?.hasError('required') && (eventForm.get('email').dirty || eventForm.get('email').touched)" class="text-danger">
          Este campo es obligatorio
      </div>
    </div>

    <div class="form-group row">
      <div class="col-6">
      <label for="dataStart">Fecha de inicio</label>
      <input type="date" class="form-control" id="dataStart"
        formControlName="dataStart">
        <div *ngIf="eventForm.get('dataStart')?.hasError('required') && (eventForm.get('dataStart').dirty || eventForm.get('dataStart').touched)" class="text-danger">
          Este campo es obligatorio
      </div>
      </div>
      
      <div class="col-6 ">
        <label for="dataEnd">Fecha de finalización</label>
        <input type="date" class="form-control" id="dataEnd"
        formControlName="dataEnd">
        <div *ngIf="eventForm.get('dataEnd')?.hasError('required') && (eventForm.get('dataEnd').dirty || eventForm.get('dataEnd').touched)" class="text-danger">
          Este campo es obligatorio
        </div>
      </div>
    </div>
      
<contact-newEvent-locationform></contact-newEvent-locationform>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea class="form-control" id="description"
        formControlName="description" rows="4"></textarea>
        <div *ngIf="eventForm.get('description')?.hasError('required') && (eventForm.get('description').dirty || eventForm.get('description').touched)" class="text-danger">
          Este campo es obligatorio
      </div>
    </div>

    <div class="form-group">
      <label for="telephone">Número de Teléfono</label>
      <input type="number" class="form-control" id="telephone"
        formControlName="telephone">
    </div>

    <div class="form-group mt-3">
      <label for="image">Subir el cartel: </label> <br>
      <input type="file" class="form-control-file" id="image"
        formControlName="image">
    </div>

    <button type="submit" class="btn btn-secondary my-5">ENVIAR</button>
  </form>
</div>
