<body>
  <h1>Contacto</h1>
  <p>
    ¡Estamos encantados de ayudarte con cualquier pregunta o consulta
    relacionada con nuestros eventos medievales! Si deseas publicar un evento en
    esta web, por favor rellene el formulario:
  </p>
  <button class="btn btn-secondary" routerLink="/formulario">
    Formulario para eventos
  </button>
  <br /> <br />

  <b>Preguntas Frecuentes</b>
  <p>
    Antes de contactarnos, te recomendamos visitar nuestra sección de Preguntas
    Frecuentes (FAQ) para ver si tu pregunta ya ha sido respondida. Aquí puedes
    encontrar información útil sobre nuestros eventos, boletos y más:
  </p>
  <p> <a routerLink="/faq"> Sección de Preguntas Frecuentes </a > </p>

  <p>
    Para otras cuestiones puedes comunicarte con nosotros de las siguientes
    maneras:
  </p>

  <b>Correo Electrónico:</b>
  <p> <a href="mailto:info@mercadosmedievales.net">info@mercadosmedievales.net</a> </p>

  <b>Teléfono:</b>
  <p>(+34) 934 567 890</p>

  <b>Redes Sociales</b>
  <p>
    Síguenos en nuestras redes sociales para mantenerte al tanto de las últimas
    noticias, eventos y promociones especiales:
  </p>
  <ul>
    <li><a href="https://www.facebook.com/MercadosMedievales/"> Facebook </a></li>
    <li><a href="https://twitter.com/MercadosMedRed"> Twitter </a></li>
    <li><a href="https://www.instagram.com/mercado_medievales_en_la_red/"> Instagram </a></li>
  </ul>

  <p>
    Estamos ansiosos por escucharte y responder todas tus inquietudes. Tu
    retroalimentación es importante para nosotros y esperamos poder ayudarte a
    disfrutar al máximo de nuestros emocionantes eventos medievales.
  </p>
  <p>¡Gracias por ser parte de la aventura medieval con Eventos Medievales!</p>
  
</body>
