<div class="container mt-5">
  <div class="row mx-auto">
    <div class="col-lg-10 mx-auto">
      <h1>Panel administrador</h1>
      <button class="btn btn-dark mb-3 " (click)="logout()">Log out</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 mx-auto">

    <!-- CONTENEDOR EVENTOS -->
      <div class="card">
        <div class="card-body">
          <span class="fw-bold h2"> EVENTOS </span>
          <button class="btn btn-secondary float-end" (click)="redirigirARuta()"> NUEVO </button> 
          <br>
          <span> <i>Los eventos <b class='bg-light'>coloreados</b> no han sido publicados todavia. El orden de muestra puede ser cambiado haciendo click en NOMBRE o FECHA</i> </span>

    <!-- PROPIEDADES -->
          <table class="table table-hover mt-3">
            <thead>
              <tr>
                <th scope="col" (click)="sortEvents('name')" style="cursor: pointer;">Nombre</th>
                <th scope="col" class="d-none d-md-table-cell" (click)="sortEvents('date')" style="cursor: pointer;">Fecha</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
                <th scope="col" formControlName="isPublished">Publicar</th>
              </tr>
            </thead>
            
    <!-- EVENTOS -->
            <tbody>
              <tr *ngFor="let event of LIST_EVENTS">

                <td class="align-middle" [ngClass]="{'bg-light ': !event.isPublished}"> {{ event.name | titlecase }}  </td>

                <td class="align-middle d-none d-md-table-cell" [ngClass]="{'bg-light': !event.isPublished}"> {{ event.dataStart | date:'dd/MM/yyyy' }} </td>
                
                <td class="align-middle" [ngClass]="{'bg-light': !event.isPublished}"> {{ event.region }} </td>
               
                <td [ngClass]="{'bg-light': !event.isPublished}">
                  <button class="btn" (click)="redirigirAFormulario(event._id)">
                    <i class="fa-regular fa-pen-to-square text-primary"> Editar </i>
                  </button>
                </td>
                
                <td [ngClass]="{'bg-light': !event.isPublished}">
                  <button class="btn" (click)="deleteEvent(event._id)">
                    <i class=" fa-regular fa-trash-can text-danger"> Borrar </i>
                  </button>
                </td>
               
                <td [ngClass]="{'bg-light': !event.isPublished}">
                  <button class="btn" (click)="publishEvent(event._id)" [ngClass]="{'hide-button': event.isPublished}">
                    <i class="fa-solid fa-circle-arrow-up text-success" > Publicar </i>
                  </button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>