<div class="container">
  <button class="btn btn-secondary" (click)="logout()">Log out</button>
  <h1>Panel administrador</h1>
  <div class="row">
    <div class="col-md-12 col-lg-6">Nuevo evento</div>
    <div class="col-md-12 col-lg-6">Buscador</div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">EVENTOS PENDIENTES</div>
    <div>
      <input id="name" [(ngModel)]="eventName"> <!-- Use ngModel to bind to a component property -->
      <button (click)="addEvent()">OK</button>
    </div>
    <div class="col-md-12 col-lg-6">EVENTOS CONFIRMADOS</div>
    <div *ngFor="let evento of events">
      {{ evento.name }}
      <button (click)="deleteEvent(evento.id)">X</button>
    </div>
  </div>
</div>
