<h1 class='text-center mt-5'>
    Proximos eventos
</h1>
<div class="row m-5">
  <div class="col-3">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/descarga.svg"
          alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/descarga.svg"
          alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/descarga.svg"
          alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/descarga.svg"
          alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
  
</div>
