body {
  color: #333;
  background: #fcfcfc;
  font-family: 'Raleway', sans-serif;
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.faq-header {
  font-size: 4vh;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.faq-question, .faq-question2 {
  padding: 20px 10px;
  border-bottom: 1px dotted #ccc;
}

.panel-title {
  font-size: 2.2vh;
  font-weight: bold;
  width: 100%;
  position: relative;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.clickable, .panel-title, .plus {
  transition: .2s ease;
  cursor: pointer;
}

.panel-content {
  font-size: 2vh;
  padding: 0px 14px;
  height: 0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: .4s ease;
}

.panel:checked ~ .panel-content,
.clickable:checked ~ .panel-content,
.clickable:checked ~ .plus {
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
  z-index: 0;
  font-size: 32px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.panel:checked ~ .plus {
  transform: rotate(45deg);
}

.panel {
  display: none;
}

@media (max-width: 600px) {
  body {
    width: 90vw;
  }
}
