body {
  color: #333;
  background: #fcfcfc;
  font-family: 'Raleway', sans-serif;
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.faq-header{
  font-size: 4vh;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}



.faq-question {
  padding: 20px 10px;
  border-bottom: 1px dotted #ccc;
}


.faq-question2 {
  padding: 20px 10px;
}

.panel-title {
  font-size: 2vh;
  width: 100%;
  position: relative;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 2vh;
  padding: 0px 14px;
  height: 0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
  z-index: 5;
  font-size: 32px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}


@media (max-width: 600px) {
  body {
    color: #333;
    background: #fcfcfc;
    font-family: 'Raleway', sans-serif;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 5vh;
  }
  
}