<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('./assets/header.jpg');
      height: 500px;
    "
  >
    <!-- <div class="mask" style="background-color: rgba(255, 255, 255, 0.3);"> -->
      <div class="d-flex justify-content-center align-items-center">
        <div class="info">
          <h1 class="mb-3">¡Bienvenido a la web de Mercados Mediavales!</h1>
          <p class="mb-3 px-5">Sumérgete en el encanto de la Edad Media y descubre un mundo de caballeros, doncellas, y magia. Explora las emocionantes ferias que te transportarán a tiempos pasados llenos de diversión y misterio. </p>
          <div class="input-group" id="searchBar">
            <input type="text" class="form-control" placeholder="Buscador...." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-secondary" type="button" id="button-addon2">Button</button>
          </div>
          <!-- <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          > VER EVENTOS </a> -->
        </div>
      </div>
    </div>
  <!-- </div> -->