<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://media.istockphoto.com/id/1295713205/es/vector/ilustraci%C3%B3n-vectorial-justa-medieval-edad-media-plana-de-dibujos-animados-o-mercado-justo-de.webp?s=1024x1024&w=is&k=20&c=uoNxAcYGfE6e53ChXgTueIZcgF-_Mi3u5eW5BgA6oxw=');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">¡Bienvenido a la web de Mercados Mediavales!</h1>
          <h4 class="mb-3 px-5">Sumérgete en el encanto de la Edad Media y descubre un mundo de caballeros, doncellas, y magia. Explora las emocionantes ferias que te transportarán a tiempos pasados llenos de diversión y misterio. </h4>
          <div class="input-group" id="searchBar">
            <input type="text" class="form-control" placeholder="Buscador...." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-secondary" type="button" id="button-addon2">Button</button>
          </div>
          <!-- <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          > VER EVENTOS </a> -->
        </div>
      </div>
    </div>
  </div>