#header {
    background-color: #eeedeb;
    height: 60vh;
    display: inline;
}

h4 {
    margin-right: 5vh;
    margin-left: 5vh;
    font-size:1.5vw;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

h5 {
    margin-top: 15vh;
    margin-right: 5vh;
    margin-left: 5vh;
    font-style: italic;
}

h1 {
    margin-top: 3vh;
    margin-bottom: 0;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-size:3vw;
}

img {
    width: 30vw;
}