<div id="header" class="row">
  <div class="row bg-primary">
    <div class="col-12">
      <h1 class="mx-5 text-center ">
          ¡Bienvenidos a nuestro portal de eventos de mercados medievales! 
      </h1>
    </div>
  <div class="row bg-primary">
    <div class="col-lg-6 col-md-12">
        <h5  class="text-center">
          Explora la Edad Media a través de mercados  con artesanías, comida y entretenimiento para todos. 
          </h5>
          <h4>
            ¡Vive la magia medieval y encuentra tu próxima aventura!
          </h4>
            
        <header-searchbar></header-searchbar>
   
      </div>
    <div class="col-lg-6 col-md-12">
        <img  src="./assets/header-img.png"  alt="">
    </div>
  </div>
</div>
