#header {
    background-color: #eeedeb;
    height: 60vh;
    display: inline;
}

h4 {
    margin-right: 5vh;
    margin-left: 5vh;
    font-size:1.5vw;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

h5 {
    margin-top: 15vh;
    margin-right: 5vh;
    margin-left: 5vh;
    font-style: italic;
}

h1 {
    margin-top: 3vh;
    margin-bottom: 0;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-size:3vw;
}

img {
    width: 30vw;
}

button {
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media screen and (max-width: 700px) {

    .row {
        margin: 0;
    }

    #header {
        background-color: #eeedeb;
        text-align: center;
        margin: 0 auto;
    }

    h4 {
        font-size:5vw;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        margin-top: 0;
        padding-top: 0;
        
    }
    
    h5 {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        font-style: italic;
        font-size:5vw;
    }
    
    h1 {
        font-family: 'Crimson Text', serif;
        font-weight: 700;
        font-size:10vw!important;
    }
    
    img {
        width: 80vw;
    }
}


@media  (min-width: 701px) and (max-width: 1000px) {

    .row {
        margin: 0;
    }
    
    #header {
        background-color: #eeedeb;
        text-align: center;
        margin: 0 auto;
    }
    
    h4 {
        font-size:3vw;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        margin-top: 0;
        padding-top: 0;
        
    }
    
    h5 {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        font-style: italic;
        font-size:3vw;
    }
    
    h1 {
        font-family: 'Crimson Text', serif;
        font-weight: 700;
        font-size:5vw!important;
    }
    
    img {
        width: 80vw;
    }
    
}