<div id="header" class="row">
  <div class="row bg-primary">
    <div class="col-12">
      <form action="" class="m-5">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group ms-1">
            <input
              type="search"
              placeholder="What're you searching for?"
              aria-describedby="button-addon1"
              class="form-control border-0 bg-light"/>
            <div class="input-group-append">
              <button
                id="button-addon1"
                type="submit"
                class="btn btn-link text-primary" >
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
