#header {
    background-color: #eeedeb;
    height: 60vh;
}

h4 {
    margin-left: 6vw;
    margin-right: 6vw;
    font-size:1.3vw;
    font-weight: 400;
}

h1 {
    margin-top: 5%;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-size:3vw;
}