img {
    height: 4.5vw;
}

.navbar {
    box-shadow: none;
}

.navbar-collapse {
    justify-content: flex-end;
}
.nav-link {
    color: #8f5f3c;
    font-weight: 500;
    font-size: 1vw;
    margin-left: 20px;
    
}

.active-link {
    color: #000000;
}

.navbar-brand {
    margin-right: auto;
}
.nav-link:hover {
    color: #c48851;
}

.dropdown-menu {
    border-radius: 0%;
    border: none;
    background-color: #bd9477;
    font-size: 1vw;
}

.dropdown-menu :hover {
    color: #eeedeb!important;
    background-color: #bd9477!important;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

@media  (max-width: 992px) {

    .nav-link {
        color: #8f5f3c;
        font-weight: 500;
        font-size: 3vw;
    }

    .dropdown-menu {
        border-radius: 0%;
        border: none;
        background-color: #eeedeb;
        font-size: 2vw;
        width: 30vw;
        box-shadow: none;

    }

    img {
        height: 10vw;
    }
    
    .navbar {
        box-shadow: none;
    }

    .dropdown-menu :hover {
        color: #c48851!important;
        background-color:#eeedeb!important; ;
    }
    
    @keyframes slideIn {
        0% {
            transform: translateY(1rem);
            opacity: 0;
        }
        100% {
            transform: translateY(0rem);
            opacity: 1;
        }
    }
    
    .slideIn {
        -webkit-animation-name: slideIn;
        animation-name: slideIn;
        animation-duration: 0.4s;
        animation-fill-mode: both;
    }
    

}