<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home"> <img src="./assets/M.png" alt=""> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home"> INICIO </a>
        </li>

        <!-- Navbar dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            MERCADOS
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">POR REGION</a></li>
            <li><a class="dropdown-item" href="#"> POR FECHA </a></li>
          </ul>
        </li>
        <!-- End dropdown -->
        <li class="nav-item">
          <a class="nav-link" routerLink="organizadores"> ORGANIZADORES </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> CONTACTO </a>
        </li>
        
      </ul>
      <!-- Left links -->
    </div>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-floating m-1" style="background-color: #ff5e00" href="https://www.facebook.com/MercadosMedievales/" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-floating m-1" style="background-color: #ff5e00" href="https://twitter.com/MercadosMedRed" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Instagram -->
      <a class="btn btn-floating m-1" style="background-color: #ff5e00" href="https://www.instagram.com/mercado_medievales_en_la_red/" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Section: Social media -->
      
    </section>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>

