.container {
    display: flex;
    height: 70vh;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

  @media (max-width: 575.98px) { 
    .container {
        display: flex;
        height: 80vh;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
    }
   }