<header-searchbar (publishEvents)="handlePublishedEvents($event)"></header-searchbar>
<div class="container mb-4">
<div class="row">
  <div class="col-lg-6 col-md-12" *ngFor="let event of PUBLISHED_EVENTS">
      <div class="card">
        <div class="card-body">
          <h5 class="h4 fw-bold">{{ event.name | uppercase }}</h5>
          <p class="card-text text-secondary"><i>
              {{ event.direccion + ', ' + event.region + ', ' + event.provincia | titlecase }}
            </i></p>
          <p class="card-text"> Del <b>{{ event.dataStart | date: 'dd/MM/yyyy' }}</b>
            hasta el <b>{{ event.dataEnd | date: 'dd/MM/yyyy' }}</b></p>
          <div>
            <p class="card-text" >
              {{ event.description.slice(0,200) + '...'}}
            </p>
            <button class="btn btn-secondary" (click)="redirigirAFormulario(event._id)" >Leer más</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>