<form [formGroup]="searchForm" class="m-5" (ngSubmit)="onSearch()" id="searchBar">
  <div class="p-1 bg-secondary rounded rounded-pill shadow-sm mb-4">
    <div class="input-group ms-1">
      <input
        type="text"
        placeholder="Busca un evento..."
        formControlName="searchValue"
        class="form-control border-0 bg-secondary " />
      <div class="input-group-append">
        <button
          id="button-addon1"
          type="submit"
          class="btn btn-link text-light">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</form>

<div class="container">
<div class="row">
  <div class="col-md-4" *ngFor="let event of PUBLISHED_EVENTS">
      <div class="card">
        <img [src]="event.image" class="card-img-top" alt="Event Image" *ngIf="event.image">
        <div class="card-body">
          <h5 class="h4 fw-bold">{{ event.name | uppercase }}</h5>
          <p class="card-text text-secondary"><i>
              {{ event.direccion + ', ' + event.region + ', ' + event.provincia | titlecase }}
            </i></p>
          <p class="card-text"> Del <b>{{ event.dataStart | date: 'dd/MM/yyyy' }}</b>
            hasta el <b>{{ event.dataEnd | date: 'dd/MM/yyyy' }}</b></p>
          <div>
            <p class="card-text" >
              {{ event.description.slice(0,200) + '...'}}
            </p>
            <button class="btn btn-secondary" (click)="toggleDescription(event)">Leer más</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>