<footer class="text-center bg-light ">
  <div class="container-fluid">
    <section>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="row">
          <div class="col-md-12 col-lg-4">
            <p class="pt-2 text-lg-end">
              <strong>Suscribete a nuestro newsletter: </strong>
            </p>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="form mb-4">
              <input type="email"  class="form-control"
                placeholder="email@ejemplo.com" formControlName="email"/>
                <div
                *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
                class="text-danger">
                <div *ngIf="form.controls['email'].errors?.['email']"> Por favor introduzca un formato de email valido </div>
              </div>
          </div>
        </div>

          <div class="col-md-12 col-lg-4 text-lg-start">
            <button type="submit" class="btn btn-secondary mb-4">
              Suscribirme
            </button>
          </div>
        </div>
      </form>
    </section>

    <div class="row">
      <div class="col-lg-12">
        <div class="footer-box">
          <div class="social-icons">
            <a class="social-icons_fb"
              href="https://www.facebook.com/MercadosMedievales/"
              target="_blank">Facebook</a>
            <a class="social-icons_tw"
              href="https://twitter.com/MercadosMedRed" target="_blank">Twitter</a>
            <a class="social-icons_ig"
              href="https://www.instagram.com/mercado_medievales_en_la_red/"
              target="_blank">Instagram</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-dark" href="https://github.com/myrnapt"> Myrna Prieto </a>
    <a class="text-dark link-offset-2 link-underline link-underline-opacity-0" routerLink="/login"> | Login </a>
  </div>
</footer>
